@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: Manrope;
    max-width: 100%;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    background: $near-white;
    width: 100vw;
    min-width: $mobile;
}

.overline {
    @include overline;
}

.container {
    display: block;
    margin: 0 auto;
}