@import '_variables';

#hero {
    background: #191919;
    width: 100%;

    #hero-inner {
        width: 100%;
        background: url('/assets/home/mobile/image-header.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            background-image: url('/assets/home/tablet/image-header.jpg');
        }

        @include desktop {
            justify-content: flex-start;
            background-image: url('/assets/home/desktop/image-hero.jpg');
        }

        #hero-text {
            text-align: center;
            height: 600px;
            padding: 0 24px;
            padding-top: 216px;
            padding-bottom: 167px;
            width: 100%;
            max-width: 328px;

            @include tablet {
                width: 50%;
                max-width: 379px;
                height: 729px;
            }

            @include desktop {
                width: 40%;
                max-width: unset;
                text-align: left;
            }

            .overline {
                color: white;
                opacity: 0.5;
                margin-bottom: 16px;
                display: block;
            }

            #hero-title {
                font-size: 36px;
                line-height: 40px;
                font-weight: bold;
                color: white;
                margin-bottom: 24px;
            }

            #hero-paragraph {
                @include body;
                color: white;
                opacity: 0.75;
                margin-bottom: 28px;
            }

            #hero-call-to-action {
                padding: 15px 30px;
                background: $orange;
                color: white;
                font-weight: bold;
                font-size: 13px;
                line-height: 18px;
                text-transform: uppercase;
                letter-spacing: 1px;
                display: inline-block;

                &:hover {
                    background: $pale-orange;
                }
            }
        }
    }
}

#categories {
    margin-top: 40px;
    margin-bottom: 120px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;

    .category {
        background: $light-grey;
        margin-bottom: 16px;
        border-radius: 8px;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .image {
            position: relative;

            img {
                display: block;
                margin: 0 auto;
                object-fit: contain;
                z-index: 2;
                position: relative;
            }

            &::before {
                content: "";
                position: absolute;
                background: $near-white;
                height: 50%;
                width: 100%;
                top: 0;
                z-index: 0;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: calc(100% - 52px);
            background: $light-grey;
            bottom: 0;
            left: 0;
            border-radius: 8px;
            z-index: 0;
        }

        .text {
            z-index: 1;
            position: relative;
            text-align: center;
            font-weight: bold;
            margin-top: auto;

            h2 {
                font-size: 15px;
                letter-spacing: 1.07px;
                text-transform: uppercase;
                margin-bottom: 17px;
            }

            a {
                padding-bottom: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include subtitle;
                color: rgba(0, 0, 0, 0.5);

                &:hover {
                    color: $orange;
                }
            }
        }

        @include tablet {
            .category {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        @include desktop {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }

    }


    @include tablet {
        margin-top: 96px;
        margin-bottom: 96px;
        flex-direction: row;
        width: 100%;
    }

    @include desktop {
        margin-top: 120px;
        margin-bottom: 168px;
    }
}