<header>
    <div id="inner-header">
        <img src="assets/shared/tablet/icon-hamburger.svg" alt="" id="hamburger" />
        <a href="/" id="logo"><img src="assets/shared/desktop/logo.svg" alt="" /></a>

        <div id="header-links">
            <a href="/" class="header-link">Home</a>
            <a href="/category/headphones" class="header-link">Headphones</a>
            <a href="/category/speakers" class="header-link">Speakers</a>
            <a href="/category/earphones" class="header-link">Earphones</a>
        </div>

        <img src="assets/shared/desktop/icon-cart.svg" alt="" id="shopping-cart" />

        <div id="mobile-menu">
            <div class="mm-link">
                <img src="assets/shared/desktop/image-category-thumbnail-headphones.png" alt="" width="79.92px"
                    height="104px">
                <div class="text">
                    <h2>Headphones</h2>
                    <a href="/category/headphones"><span>Shop <img src="assets/shared/desktop/icon-arrow-right.svg"
                                alt="" aria-hidden="true"></span></a>
                </div>
            </div>
            <div class="mm-link">
                <img src="assets/shared/desktop/image-category-thumbnail-speakers.png" alt="" width="84.04px"
                    height="101px">
                <div class="text">
                    <h2>Speakers</h2>
                    <a href="/category/speakers"><span>Shop <img src="assets/shared/desktop/icon-arrow-right.svg" alt=""
                                aria-hidden="true"></span></a>
                </div>
            </div>
            <div class="mm-link">
                <img src="assets/shared/desktop/image-category-thumbnail-earphones.png" alt="" width="103px"
                    height="104px">
                <div class="text">
                    <h2>Earphones</h2>
                    <a href="category/earphones"><span>Shop <img src="assets/shared/desktop/icon-arrow-right.svg" alt=""
                                aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div id="overlay"></div>
    </div>
</header>